BACKUP_SOURCES=("$HOME/Linux-Automated-Backup" "$HOME/todo-app")
LOCAL_BACKUP_DIR="./backups"
REMOTE_USER=""
REMOTE_HOST=""
REMOTE_DIR="/backups"
KEEP_LAST=7
COMPRESSION="gzip"
SLACK_WEBHOOK_URL=""
ALERT_EMAIL=""
LOG_FILE="./logs/backup.log"
MAX_LOG_LINES=1000
